<div class="medium-column">
    <div class="card padded-card">
        <h1><%= @plant.common_name %></h1>
        <h2><%= @plant.scientific_name %></h2>
        <img src="<%= @plant.image_url %>">
    </div>
</div>