/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 html {
    height: 100vh;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    padding: 0 25px 0 25px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    font-family: 'Permanent Marker', cursive;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    text-decoration: none;
}

.page-title {
    margin-right: 35px;
    font-size: 25px;
    color: #34b800;
}

.main-nav {
    font-size: 20px;
    margin-right: 20px;
    color: #545454;
}

.action-link {
    font-size: 20px;
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
    background-color: #34b800;
    color: white;
    padding: 5px 25px;
    border-radius: 15px;
    border: none;
    transition: background-color .25s, color .25s;
}

.action-link:hover {
    background-color: #34b800;
}

.secondary-link {
    font-size: 20px;
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
    border: 2px solid #34b800;
    color: #34b800;
    padding: 5px 25px;
    border-radius: 15px;
    background-color: white;
    transition: background-color .25s, border .25s, color .25s;
}

.secondary-link:hover {
    background-color: #edf6ff;
    border: 2px solid #34b800;
    color: #34b800;
}

.delete-link {
    color: #d64c4c;
    border: 2px solid #d64c4c;
}

.delete-link:hover {
    color: #9e3838;
    border: 2px solid #9e3838;
    background-color: #ffe6e6;
}

.disabled-link {
    font-size: 20px;
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
    background-color: #cfcfcf;
    color: white;
    padding: 5px 25px;
    border-radius: 15px;
    border: none;
    margin-bottom: 30px;
    display: inline-block;
}

.flash-container {
    padding-top: 80px;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    flex-direction: center;
}

.flash-item {
    width: 485px;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    overflow: hidden;
    padding: 30px;
}

.flash-error {
    background-color: #d64c4c;
    color: white;
}

.flash-success {
    background-color: #3fa74c;
    color: white;
}

.flash-info {
    background-color: #0076FF;
    color: white;
}

.page-body {
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
}


.page-container {
    box-sizing: border-box;
    align-items: flex-start;
    width: 1000px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
}

.large-column {
    width: 650px;
    box-sizing: border-box;
}

.medium-column {
    width: 485px;
}

.single-medium-column {
    width: 100%;
    display:flex;
    justify-content: center;
}

.stacked-container {
    display: flex;
    flex-direction: column;
}

.card {
    background-color: white;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    overflow: hidden;
}

.two-part-card {
    /* padding: 30px; */
}

.flat-bottom-card {
    padding: 30px 30px 0px 30px;
}

.flat-top-card {
    padding: 15px 30px 15px 30px;
    background-color: #F4F4F4;
}

.padded-card {
    padding: 30px;
}
.small-column {
    width: 260px;
    padding: 30px;
}

.card-item {
    display: inline-block;
    margin-bottom: 30px;
}

.search-query {
    font-weight: 400;
    font-size: smaller;
}

.sub-card {
    border: 1px solid #dbdbdb;
    background-color: #fafafa;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    transition: border .25s, background-color .25s;
}

.sub-card:hover {
    border: 1px solid #9e9e9e;
    background-color: #ededed;
}

.sub-card h3, .sub-card h4 {
    margin: 0;
    text-decoration: none;
}

.form-item {
    margin-bottom: 15px;
    font-family: 'Arial';
}

.form-item .text-label {
    display: inline-block;
    width: 100px;
}

.text-input {
    padding: 7px 15px;
    font-size: 14px;
    width: 250px;
    border: 1px solid #dbdbdb;
    border-radius: 15px;
}

.time-input {
    padding: 7px 15px;
    font-size: 14px;
    width: 100px;
    border: 1px solid #dbdbdb;
    border-radius: 15px;
}

.text-input:focus {
    outline: none;
    border: 1px solid #0060D0;
}

.form-item select {
    padding: 7px 15px;
    font-size: 14px;
    width: 100px;
    border: 1px solid #dbdbdb;
    border-radius: 0;
}

.form-item input:focus {
    outline: none;
    border: 1px solid #0060D0;
}

.checkbox-label {
    margin-left: 15px;
}

.search-text {
    width: 300px;
    margin-right: 10px;
}

.login-text {
    width: 330px; 
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-weight: 900;
    font-style: italic;
    margin:0 0 15px 0;
}

h2 {
    font-family: 'Arial';
    font-weight: 700;
    font-style: italic;
    margin:0 0 10px 0;
    color: #343434;
}

h3 {
    font-family: 'Arial';
    font-weight: 700;
    color: #4C4C4C;
}

h4 {
    font-family: 'Arial';
    font-weight: 300;
    margin:0 0 20px 0;
    color: #4C4C4C;
}

.attribute {
    font-family: 'Arial';
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
}

.permitted {
    color: #009912;
    font-weight: 400;
}

.attribute-list {
    display: block;
}

.attribute-icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.admin-icon {
    width: 15px;
    height: 15px;
}

.check {
    fill: #009912
}

.star {
    fill: #e8b602;
}

.x {
    fill: #AFAFAF;
}

.not-permitted {
    color: #AFAFAF;
}

.unknown {
    color: #D1A900;
}


.warning {
    fill: #D1A900;
}

.centered {
    display: flex;
    justify-content: space-between;
}

.timestamps {
    font-family: 'Arial';
    font-size: 12px;
    color: #949494;
}

.trick-link-container {
    display: inline;
}

.trick-link {
    font-family: 'Arial';
    font-size: 12px;
    color: #d4d4d4;
    margin-left: 15px;
    border: none;
    background: none;
    display: inline;
}

.trick-link:hover {
    color: #b5b5b5;
    text-decoration: underline;
}

.edit-info {
    font-family: 'Arial';
    font-size: 12px;
    color: #949494;
    text-decoration: underline;
    border: none;
    background: none;
}

.small-spacer {
    margin-top:10px;
    position: relative;
    left: -7px;
}

.badge {
    display: inline-block;
    background-color: #F4F4F4;
    color: #949494;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 10px;
    width: 20px;
    height: 12px;
    margin-right: 5px;
    text-align: center;
    font-weight: 500;
}

.small-column-link {
    text-decoration: none;
    color: #34b800;
    font-weight:400;
    display: inline-block;
}

.small-column-link:hover {
    text-decoration: underline;
}

.small-column-item {
    margin-bottom: 10px;
    display: flex;
}

.user-body {
    color: #4C4C4C;
    font-size: 14px;
    margin-bottom: 30px;
}

.top-parks {
    background-color: #fff7d8;
    border: 1px solid #e8b602;
    border-radius: 15px;
    color: #e8b602;
    font-size: 14px;
    margin-bottom: 30px;
    display: inline-block;
    padding: 5px 15px;
}

.plant-image {
    width: 200px;
}